<ion-content>
  <div class="header">
    <ion-button (click)="btnSalir()" class="custom-button">
      <ion-icon name="log-out-outline"></ion-icon>
      Cerrar sesión
    </ion-button>
    <ion-button (click)="btnEstadisticas()" class="custom-button">
      <ion-icon name="stats-chart-outline"></ion-icon>
      Estadísticas
    </ion-button>
  </div>
  <div class="box">
    <div class="button-container">
      <button class="level-button easy" (click)="selectLevel('easy')">Nivel Fácil</button>
      <button class="level-button medium" (click)="selectLevel('medium')">Nivel Medio</button>
      <button class="level-button hard" (click)="selectLevel('hard')">Nivel Difícil</button>
    </div>
  </div>

  <!-- Spinner de carga -->
  <div class="loading-spinner" *ngIf="isLoadingStats">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ion-content>
